//Swagger
APP_TITLE=Report Microservice
APP_DESCRIPTION=Handle report service


//Limits and System env
REQUEST_LIMIT=100kb
PORT=3001
APP_ID=Report Microservice
NODE_ENV=development
SCHEME=http

//log
LOG_LEVEL=info


//Secrets
JWT_SECRET=report_microservice_secret
JWT_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=30d
SESSION_SECRET=report_microservice_secret

//Database
DATABASE_URL="sqlserver://localhost:1433;database="";user="";password="";encrypt=false;trustServerCertificate=true"
HOST_NAME=localhost
DB_NAME=report_microservice

